@import "vars";
@import "reset";

:root {
    --height: 57px;
}

::selection {
    background-color: #fff;
    color: #ffffff;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#page {
    position: relative;
    min-height: 100%;
}

figure {
    margin: 0;
}

body {
    color: #fff;
    background-color: #343233;
    font-size: 16px;
    font-weight: 300;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    line-height: 1.2;
    overflow-x: hidden;
    font-family: din-2014, sans-serif;
    font-style: normal;
    font-weight: 200;
    padding: 27px 37px;

   
}



button {
    border: none;
    outline: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


