.site-header{
    .site-branding{
        height: 30px;
        width: 25px;

        margin-top: 27px;
        margin-left: 37px;
        
        img{
            height: 30px;
            width: 25px;
        }
    }
}