@import "./mixins/breakpoints";


$default-font: GreedLight, sans-serif;

$light-grey-bg: #fcfbfb;

$accent-color: #f8b914;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 2000px,
    xxl: 1600px,
);

$main-padding: 80px;
